<div class="container">
    <%= render 'shared/errors', obj: @article %>

    <%= form_with(model: @article, local: true) do |f| %>
        <div class="form-group row" style="margin: 10px;">
            <%= f.label :title, class: "col-2 col-form-label" %>
            <div class="col-9">
                <%= f.text_field :title, class: "form-control", placeholder: "Enter your title here", type: "text"%>
                <small class="form-text text-muted">
                    Must be 6-100 characters long.
                </small>
            </div>
        </div>



        <div class="form-group row" style="margin: 10px;">
            <%= f.label :description, class: "col-2 col-form-label" %>
            <div class="col-9">
                <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter your description here", type: "text" %>
                <small class="form-text text-muted">
                    Must be 6-100 characters long.
                </small>
            </div>
        </div>

        <div class="form-group row" style="margin: 10px;">
            <%= f.label :category, class: "col-2 col-form-label" %>
            <div class="col-9">
                <%= f.collection_select(:category_ids, Category.all, :id, :name,
                    {multiple: true, size: 3, class: "custom-select form-select mb-3 rounded"}) %>
                <small class="form-text text-muted">
                    Make your selection from the list above (can be empty).
                </small>
            </div>
        </div>

        <div class="form-group row" style="margin: 10px;">
            <div class="col-2"></div>
            <div class="col-9" style="display: flex;">
                <%= f.submit class: "btn btn-outline-success btn-block col-5"%>
                <%= link_to "Cancel", :back, class: "btn btn-outline-danger col-5", style: "position: relative; right: -16.5%;" %>
            </div>
        </div>
    <% end %>


</div>
