<div class="container">
  <% for i in 0..((@users.length/columns)) do  %>
      <div class="row">
          <% for j in 0..(columns-1) do %>
              <% user = @users[(i*columns)+j] %>
              <% if user %>
                  <div class="col-sm" style="margin: 16px;">
                      <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 20rem; align-items: center;">
                          <div class="card-header text-muted" style="background-color: white;">
                            <button class="btn btn-sm btn-info"><%=pluralize(user.articles.count, "Article")%></button>

                            <% if user_signed_in? && current_user != user %>
                              <% follow_back = Follow.find_by(following_user_id: user.id, followed_user_id: current_user.id) %>
                              <% if Follow.find_by(following_user_id: current_user.id, followed_user_id: user.id) %>
                                <%= link_to "#{'⇜' if follow_back}✓ Following", unfollow_user_path(user), method: :post, class: "btn btn-warning btn-sm fw-bold"%>
                              <% else %>
                                <%= link_to "#{'⇜' if follow_back}✛ Follow", follow_user_path(user), method: :post, class: "btn btn-warning btn-sm fw-bold"%>
                              <% end %>
                            <% end %>
                          </div>

                          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Profile-Image" class="rounded-circle" width="150" style="margin-top: 15px;">
                          <div class="card-body">
                              <h5 class="card-title"><%= user.username %></h5>
                              <p class="card-text text-secondary"><%= user.email %></p>
                              <div>
                                  <%=link_to 'Show', user_path(user), class: "btn btn-outline-primary" %>

                                  <% if user_signed_in? %>
                                    <% if current_user == user %>
                                      <%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-warning", style: "margin: 5px;" %>
                                      <%= link_to "Delete", registration_path(current_user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger", style: "margin: 5px;" %>
                                    <% elsif current_user.admin? %>
                                      <%= link_to "Edit",  edit_user_path(user), class: "btn btn-outline-warning", style: "margin: 5px;" %>
                                      <%= link_to "Delete", user_path(user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger", style: "margin: 5px;" %>
                                    <% end %>
                                  <% end %>
                              </div>
                              <br><br>
                              <div class="card-footer text-muted" style="background-color: white;">
                                <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
                              </div>
                          </div>
                      </div>
                  </div>
              <% end %>
          <% end %>
      </div>
  <% end %>
</div>
